/* =SECTIONS */

%background-section {
	height: 40em;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;

	@include respond($medium-screen) {
		&, & > div {
			height: auto !important;
			background-image: none !important;
		}

		.light-on-dark {
			color: $text-color;
		}
	}
}

main > section {
	// Reset link decorations for the read-more arrow
	.link-unstyled, .link-unstyled:hover {
		text-decoration: none !important;
	}

	footer {
		font-size: .85em;

		&::before {
			display: block;
			content: "";
			border-top: 1px solid #e2e2e2;
			margin: $lineheight auto;
			max-width: 10em;
			width: 50%;
		}
	}
}

.text-box {
	position: absolute;
	line-height: 1.618;
	font-size: 1.1em;

	h2, h3, h4 {
		text-align: left;
		font-weight: bold;
		margin: 0;
	}

	h2, h3 {
		font-size: 1.2em;
	}

	@include respond($medium-screen) {
		color: $text-color !important;
		position: static !important;
		top: auto !important;
		left: auto !important;
	}
}

.white-box {
  padding: 3em 10%;
  line-height: 1.618;

  p {
    font-size: 1.3em;
  }

  p:last-child {
  	margin-bottom: 0;
  }

  @include respond($small-screen) {
  	padding-left: 5%;
  	padding-right: 5%;
  	font-size: 1.1em;
  }
}

/* text content with padding */

.content {
	padding: 0 5%;
	margin-bottom: $lineheight*3;
}

.intro {
  text-align: center;
	font-size: 1.2em;
	padding-left: 15%;
	padding-right: 15%;
}


.the-event {
	position: relative;
	padding-top: 50%;
	height: 0;
	overflow: hidden;
	min-height: to_em(580);

	@include respond($medium-screen) {
		height: auto;
		padding-top: 0;

		& > section h1 {
			font-family: $sans;
			font-weight: bold;
			font-size: to_em(24);
			text-align: left;
			padding-left: 10%;
		}
	}

	.event-hidden {
		@include respond($small-screen, min) {
			display: none;
		}
	}

	.text-box {
		position: absolute;
		z-index: 11;

		@include respond($medium-screen) {
			position: static !important;
			margin: 0 auto !important;
			padding: 0 !important;
			left: auto !important;
			top: auto !important;
			font-weight: normal !important;
			-webkit-column-count: 1 !important;
			-moz-column-count: 1 !important;
			column-count: 1 !important;
			text-align: left !important;
			max-width: 35em !important;
			font-size: 1.1em !important;
			width: 80% !important;

			p {
				margin: 0 0 $lineheight !important;
			}
		}
	}

	h1 {
		padding-top: .5em;
		margin-top: 0;
		position: absolute;
		z-index: 11;
		top: 0;
		width: 100%;

		@include respond(900px) {
			font-size: to_em(48);
		}
	}

	/* tabs */
	& > section {
		position: absolute;
		top: 0;
		width: 100%;

		.text-box {
			@include transition(transform .5s, opacity .5s);
		}

    &.out {
      pointer-events: none;
    }

    a {
      @include respond($medium-screen, min) {
      	color: white;
      }
    }

		&.out .text-box {
			opacity: 0;
			@include transform(translate(5%, 0));

			@include respond($medium-screen) {
				opacity: 1 !important;
				@include transform(translate(0, 0));
			}
		}

		&#the-hack.out .text-box {
			@include transform(translate(-5%, 0));
		}

		@include respond($medium-screen) {
			position: static;
			height: auto;
			padding-top: 0;
		}
	}

	.tab-switch {
		$width: 18em;
		position: absolute;
		z-index: 999;
		width: $width;
		left: 50%;
		margin-left: -#{$width / 2};
		top: $lineheight*7;

		@include respond($medium-screen) {
			display: none;
		}
	}

	img {
  		min-width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;
		@include transition(opacity .5s, transform 1s);

		&.out {
			@include transform(translate(0, -5%));
			opacity: 0;
		}

		@include respond($medium-screen) {
			display: none;
		}
	}

	.the-hack-back {
		min-height: 580px;

		@include respond(to_em(900)) {
			min-width: 900px;
		}
	}

	.the-party-back {
		top: 0;
		// Prevent text from being displayed on the black part of the image
		@include respond(to_em(900)) {
			max-width: none;
			width: to_em(1000);
			left: 50%;
			margin-left: -500px;

		}

		&.out {
			@include transform(translate(0, 5%));
		}
	}

	@include respond($medium-screen) {
		h1,
		.text-box {
			position: static;
		}
	}
}

.during-the-day {

	h1 {
		color: #fff;

		@include respond($medium-screen) {
			color: $text-color;
		}
	}

	.text-box {
  		color: #fff;
  		width: 700px;
  		left: 50%;
  		margin-left: -350px;

  		top: 15em;

  		-webkit-column-count: 2;
  		-moz-column-count: 2;
  		column-count: 2;
	}

  	p {
  		margin: 0;
      margin-bottom: $lineheight;

      &:first-child {
        text-indent: 0;
      }
  	}
}

.during-the-night {

	.text-box {
		max-width: 600px;
		margin-left: -300px;
		left: 50%;
		top: $lineheight*10;
		text-align: center;
		font-weight: 600;
		font-size: 1.2em;

		@include respond(1155px) {
			top: $lineheight*9;
		}
	}


}

.practical-info {
	margin: auto;
	max-width: 60em;
	/*text-align: center;*/

  h1 {
    margin-top: 0;
  }

	dl {
		max-width: 32em;
		margin: $lineheight auto;
	}

  .fb-link:hover {
    text-decoration: none;
  }

  .icon-facebook {
    background: #39579a;
    border-radius: 5px;
    padding: 3px 3px 3px 5px;
    &::before {
      color: white;
    }
  }

  footer {
    text-align: center;
  }
}

.the-location {

	& > div {
		@extend %background-section;
		height: 50em;
		background-image: image-url("location.jpg");
		background-position: left top;
	}

	.text-box {
		width: 30%;
		color: #fff;
		right: 5%;
		top: $lineheight*3;
	}

	@include respond(1024px) {
		.text-box {
			position: relative;
			right: auto;
			top: 50%;
			padding-left: 10%;
			width: 100%;
			overflow: hidden;
		}

		h3, .text-box > p, .location-address {
			float: left;
			max-width: 25em;
			width: 50%;
			clear: left;
			padding-right: 5%;
		}

		.location-address {
			float: right;
			clear: right;
		}

		/* use absolute positioning since the bloody gallery
		REFUSES to align at the top when floated right. */
		.location-gallery {
			position: absolute;
			top: $lineheight;
			right: 3%;
			width: 45%;
		}
	}

	@include respond($medium-screen) {
		.text-box {
			padding: 0 10%;
		}

		h3, .text-box > p,
		.location-address,
		.location-gallery {
			float: none;
			width: 100%;
			max-width: none;
			padding: 0;
			top: auto;
			position: static;
		}
	}

	h4 {
		margin-bottom: 0;
	}
}


.the-sponsors {
	text-align: center;

	img {
		vertical-align: middle;
		width: 90%;
		max-height: 100px;

		&.square {
			width: auto;
		}
	}

	.flower {
		img {
			margin-bottom: $lineheight / 2;
			max-height: 70px;
			max-width: 10em;
			width: auto;
		}

		& > section {
			position: relative;

			@include respond($medium-screen) {
				position: static;
			}
		}

		section:nth-child(odd) {
			right: -5%;
		}
		section:nth-child(even) {
			left: -5%;
		}
	}

	.seed {

		&.group {
				margin-bottom: $lineheight;

				&:last-of-type {
					margin-bottom: $lineheight*2;
				}
		}


		@include respond($medium-screen) {
			section {
				margin-bottom: $lineheight*2;
			}
			img {
				max-width: 30%;
			}
		}
	}

	.first {
		margin-left: 33%;
	}

	.half {
		p {
			max-width: 20em;
			margin: 0 auto $lineheight;
		}
	}

	.lurn img {
		max-height: 50px;
		max-width: 100%;
		width: auto;
	}

	.antura {
		margin-top: 1.5em;
		img {
			max-width: 60%;

			@include respond($medium-screen) {
				max-width: 40%;
			}
		}
	}

	.burt {
		margin-top: 1em;

		img {
			max-width: 6em;
		}
	}

	.yeos {
		img {
			@include respond($medium-screen) {
				max-width: 30%;
			}
		}
	}


	& > .group {
		margin-bottom: $lineheight*3;
	}

	footer {
		font-size: .85em;
		font-weight: 600;
		color: #999;
		line-height: 1.618;
		max-width: 30em;
		width: 80%;
		margin: $lineheight*2 auto 0;

		h2 {
			font-size: 1.4em;
			font-weight: 600;
			color: #666;
		}
	}
}

.questions {
  &,
	h3,
	h4,
	p {
    text-align: left;
  }

	h2 {
		font-size: 3em;
	}

	h3 {
			font-size: 1.2em;
	}

  .zigzag {
		$width: 400;
		$offset: -$width / 2;

		line-height: 1.618;

    width: to_em($width);
		margin: 0 auto $lineheight*3;
		position: relative;

		p {
			color: #c5c5c5;
		}

    &:nth-child(even) {
      left: $offset*1px;

			@include respond($medium-screen) {
				left: auto;
			}
    }
    &:nth-child(odd) {
      right: $offset*1px;

			@include respond($medium-screen) {
				right: auto;
			}
    }

		@include respond($small-screen) {
			width: 100%;
			font-size: 1.2em;
		}
  }
}

.signup {
	h1 {
		text-align: left;
		margin: 0 0 0.5em;
	}

	.signup-follow {
		text-align: center;
		font-size: .9em;
		max-width: 20em;
		margin: 0 auto;

		a {
			font-weight: bold;
		}
	}
}

#signup-modal-toggle,
[href="#signup"] {
	overflow: hidden;

	.icon-paperplane {
		@include transition(transform .5s .2s);
		display: inline-block;
	}

	&:hover .icon-paperplane {
		@include transform(translate(30px,-40px));
	}
}

.signup > div {
	@extend %background-section;
	background-position: left bottom;
	background-image: image-url("signup.jpg");

	.text-box {
		width: 35%;
		max-width: 30em;
		color: #fff;
		right: 10%;
		top: 6em;

		@include respond($medium-screen) {
			width: 80%;
			margin: 0 auto;
			right: auto;

			h1 {
				text-align: center;
			}
		}
	}

	@include respond(1450px, min) {
		background-position: left -26em;
	}
}

.the-organisers, .the-advisors {

  .group {
    margin-bottom: $lineheight * 3;

    &:first-child {
      margin-bottom: 0;
    }
  }

  .organiser-follow {
    text-align: center;
    margin-bottom: 0;

    iframe {
      height: 20px;
    }
  }

	h2 {
		font-size: to_em(18);
		margin-bottom: 0;
		font-weight: bold;
	}

	section {

		p {
			font-size: .85em;
		}

		@include respond($medium-screen) {
			width: 100%;
			float: none;
			overflow: hidden;
			margin-bottom: $lineheight*3;

			div, h2, h3 {
				text-align: left;
			}

			p {
				font-size: 1em;
			}

			img {
				float: left;
				margin-right: 10%;
			}
		}

		@include respond($small-screen) {
			img {
				float: none;
				width: 40%;
				margin: 0 auto $lineheight;
			}

			h2, h3 {
				text-align: center;
			}
		}
	}

	img {
		max-width: 80%;
		display: block;
		margin: 0 auto;
		@include border-radius(100%);

		@include respond($medium-screen) {
			max-width: 200px;
		}
	}
}

/* <fuckit> */
.timeline {

  $ball-inner-size: 75px;
  $ball-border: $ball-inner-size * 0.125;
  $ball-size: 2 * $ball-border + $ball-inner-size;

  h2 {
    font-size: to_em(24);
    margin-bottom: $lineheight / 4;
  }

  p {
    text-align: center;
    font-size: 1.1em;
    color: #999;
  }

  .group {
    position: relative;

    // Fix clearfix
    overflow: hidden;

    @media only screen and (max-width: $medium-screen) {
      &::after {
        display: none;
      }
    }

    // Horizontal line
    &::after {
      content: ' ';
      position: absolute;
      top: $ball-size / 2 - 1.5 * $ball-border;
      left: 0;
      width: 100%;
      height: $ball-border;
      background: $text-color;
      z-index: 1;
      pointer-events: none;
    }

    .column {
      padding-top: $ball-size;
      position: relative;

      &.fb a {
        background: white;
        /*@include transition(border-color .25s);*/
        &::after {
          border-radius: 50%;
          content: ' ';
          position: absolute;
          width: 100%;
          height: 100;
          top: 0;
          bottom: 0;
          background: image-url('fb.png');
          background-size: cover;
          z-index: 10;
          @include transition(opacity .3s);
          opacity: 0;
        }
        &:hover::after {
          opacity: 1;
        }
      }

      &.fb:hover {
        a {
          background: #4d71a7;
          border-color: #4d71a7;
          &::after {
            opacity: 1;
          }
        }
      }

      // Ball
      a {
        font-size: inherit;
        display: block;
        position: absolute;
        left: 50%;
        top: 0;
        width: $ball-inner-size;
        height: $ball-inner-size;
        margin-left: -($ball-inner-size / 2);
        background: white;
        border: $ball-border solid $text-color;
        border-radius: 50%;
        z-index: 2;
        @include transition(background .3s);
      }
      &:hover > a {
        background: $text-color;
      }
    }
  }
}
/* </fuckit> */

.the-advisors {

  /*img {*/
    /*max-width: 100px;*/
    /*border-radius: 50%;*/
    /*display: block;*/
    /*margin: auto;*/
  /*}*/
}
