/* =SECTIONS */

%background-section {
	height: 40em;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;

	@include respond($medium-screen) {
		&, & > div {
			height: auto !important;
			background-image: none !important;
		}

		.light-on-dark {
			color: $text-color;
		}
	}
}

.text-box {
	position: absolute;
	line-height: 1.618;
	font-size: 1.1em;

	h2, h3, h4 {
		text-align: left;
		font-weight: bold;
		margin: 0;
	}

	h2, h3 {
		font-size: 1.2em;
	}

	@include respond($medium-screen) {
		color: $text-color !important;
		position: static !important;
		top: auto !important;
		left: auto !important;
	}
}

.white-box {
  padding: 3em 20%;
  font-size: 1.3em;
  line-height: 1.618;

  p:last-child {
  	margin-bottom: 0;
  }

  @include respond($small-screen) {
  	padding-left: 5%;
  	padding-right: 5%;
  	font-size: 1.1em;
  }	
}

/* text content with padding */

.content {
	padding: 0 5%;
	margin-bottom: $lineheight*3;
}

.intro {
  text-align: center;
}


.the-event {
	position: relative;
	padding-top: 50%;
	height: 0;
	overflow: hidden;

	@include respond($medium-screen) { 
		height: auto;
		padding-top: 0;

		& > section h1 {
			font-family: $sans;
			font-weight: bold;
			font-size: to_em(24);
			text-align: left;
			padding-left: 10%;
		}
	}

	.text-box {
		position: absolute;
		z-index: 11;

		@include respond($medium-screen) {
			position: static !important;
			margin: 0 auto !important;
			padding: 0 !important;
			left: auto !important;
			top: auto !important;
			font-weight: normal !important;
			-webkit-column-count: 1 !important;
			-moz-column-count: 1 !important;
			column-count: 1 !important;
			text-align: left !important;
			max-width: 35em !important;
			font-size: 1.1em !important;
			width: 80% !important;

			p {
				margin: 0 0 $lineheight !important;
			}
		}
	}

	h1 {
		padding-top: .5em;
		margin-top: 0;
		position: absolute;
		z-index: 11;
		top: 0;
		width: 100%;

		@include respond(900px) {
			font-size: to_em(48);
		}
	}

	/* tabs */
	& > section {
		position: absolute;
		top: 0;
		width: 100%;
		
		.text-box {
			@include transition(transform .5s, opacity .5s);
		}

		&.out .text-box {
			opacity: 0;
			@include transform(translate(5%, 0));

			@include respond($medium-screen) {
				opacity: 1 !important;
				@include transform(translate(0, 0));
			}
		}

		&#the-hack.out .text-box {
			@include transform(translate(-5%, 0));	
		}

		@include respond($medium-screen) {
			position: static;
			height: auto;
			padding-top: 0;
		}
	}

	.tab-switch {
		$width: 18em;
		position: absolute;
		z-index: 999;
		width: $width;
		left: 50%;
		margin-left: -#{$width / 2};
		top: $lineheight*7;

		@include respond($medium-screen) {
			display: none;
		}
	}

	img {
  		min-width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;
		@include transition(opacity .5s, transform 1s);

		&.out {
			@include transform(translate(0, -5%));
			opacity: 0;
		}

		@include respond($medium-screen) {
			display: none;
		}
	}

	.the-party-back {
		bottom: 0;
		top: auto;

		@include respond(1155px) {
			bottom: auto;
			top: 0;
		}
		
		&.out {
			@include transform(translate(0, 5%));
		}
	}

	@include respond($medium-screen) {
		h1,
		.text-box {
			position: static;
		}
	}
}

.during-the-day {
	
	h1 {
		color: #fff;

		@include respond($medium-screen) {
			color: $text-color;
		}
	}

	.text-box {
  		color: #fff;
  		width: 700px;
  		left: 50%;
  		margin-left: -350px;

  		top: 15em;

  		-webkit-column-count: 2;
  		-moz-column-count: 2;
  		column-count: 2;
	}

  	p {
  		margin: 0;
      	text-indent: 1.5em;

      	&:first-child {
      		text-indent: 0;
      	}
  	}
}

.during-the-night {

	.text-box {
		max-width: 600px;
		margin-left: -300px;
		left: 50%;
		top: $lineheight*10;
		text-align: center;
		font-weight: 600;
		font-size: 1.2em;

		@include respond(1155px) {
			top: $lineheight*9;
		}
	}	

	
}

.practical-info {
	margin: auto;
	max-width: 60em;
	text-align: center;
}

.the-location {
	
	& > div {
		@extend %background-section;
		height: 50em;
		background-image: image-url("location.jpg");
		background-position: left top;
	}

	.text-box {
		width: 30%;
		color: #fff;
		right: 5%;
		top: $lineheight*5;
	}

	@include respond(1024px) {
		.text-box {
			position: relative;
			right: auto;
			top: 60%;
			padding-left: 10%;
			width: 100%;
			overflow: hidden;
		}

		h3, .text-box > p, .location-address {
			float: left;
			max-width: 25em;
			width: 50%;
			clear: left;
			padding-right: 5%;
		}

		/* use absolute positioning since the bloody gallery
		REFUSES to align at the top when floated right. */
		.location-gallery {
			position: absolute;
			top: $lineheight;
			right: 3%;
			width: 45%;
		}
	}

	@include respond($medium-screen) {
		.text-box {
			padding: 0 10%;
		}

		h3, .text-box > p,
		.location-address,
		.location-gallery {
			float: none;
			width: 100%;
			max-width: none;
			padding: 0;
			top: auto;
			position: static;
		}
	}

	h4 {
		margin-bottom: 0;
	}
}


.the-sponsors {
	text-align: center;

	img {
		vertical-align: middle;
		max-height: 100px;
	}

	.first {
		margin-left: 33%;
	}

	& > .group {
		margin-bottom: $lineheight;
	}

	footer {
		font-size: .85em;
		font-weight: 600;
		color: #999;
		line-height: 1.618;
		max-width: 30em;
		width: 80%;
		margin: $lineheight*2 auto 0;

		h2 {
			font-size: 1.4em;
			font-weight: 600;
			color: #666;
		}	
	}
}

.signup {
	h1 {
		text-align: left;
		margin: 0 0 0.5em;
	}

	.signup-follow {
		text-align: center;
		font-size: .9em;
		max-width: 20em;
		margin: 0 auto;

		a {
			font-weight: bold;
		}
	}
}

#signup-modal-toggle,
[href="#signup"] {
	overflow: hidden;

	.icon-paperplane {
		@include transition(transform .5s .2s);
		display: inline-block;
	}

	&:hover .icon-paperplane {
		@include transform(translate(30px,-40px));
	}
}

.signup > div {
	@extend %background-section;
	background-position: left bottom;
	background-image: image-url("signup.jpg");	

	.text-box {
		width: 35%;
		max-width: 30em;
		color: #fff;
		right: 10%;
		top: 6em;

		@include respond($medium-screen) {
			width: 80%;
			margin: 0 auto;
			right: auto;

			h1 {
				text-align: center;
			}
		}
	}

	@include respond(1450px, min) {
		background-position: left -26em;
	}
}

.the-organisers, .the-advisors {

  .group {
    margin-bottom: $lineheight * 3;

    &:first-child {
      margin-bottom: 0;
    }
  }

  .organiser-follow {
    text-align: center;
    margin-bottom: 0;

    iframe {
      height: 20px;
    }
  }

	h2 {
		font-size: to_em(18);
		margin-bottom: 0;
		font-weight: bold;
	}
	
	section {

		p {
			font-size: .85em;
		}

		@include respond($medium-screen) {
			width: 100%;
			float: none;
			overflow: hidden;
			margin-bottom: $lineheight*3;

			div, h2, h3 {
				text-align: left;
			}

			p {
				font-size: 1em;
			}

			img {
				float: left;
				margin-right: 10%;
			}
		}

		@include respond($small-screen) {
			img {
				float: none;
				width: 40%;
				margin: 0 auto $lineheight;
			}

			h2, h3 {
				text-align: center;
			}
		}
	}

	img {
		max-width: 80%;
		display: block;
		margin: 0 auto;
		@include border-radius(100%);

		@include respond($medium-screen) {
			max-width: 200px;
		}
	}
}

.the-advisors {

  /*img {*/
    /*max-width: 100px;*/
    /*border-radius: 50%;*/
    /*display: block;*/
    /*margin: auto;*/
  /*}*/
}
