/*	=MAIN SITE STYLES
----------------------------------------------------------------------*/

html {
	background-color: #fdfdfd;
	-webkit-font-smoothing: antialiased;
}

body {
	-webkit-tap-highlight-color: #fff;
	font: normal #{$fontsize}/#{($leading/$base-size)} $sans;
	color: $text-color;
}

// ELEMENTS
// Include stuff like headings, links, buttons, forms, element styling ..

@import "common/*";


// PARTIALS
// Different areas of the site layout, ex. header, sidebars.

@import "partials/*";

// VIEWS
// Different views, ex. home, profile page, etc.

@import "views/*";

// RESPONSIVE STYLES

@import "viewports/medium";
@import "viewports/small";

//////////// modal
.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0,-25%);
  -ms-transform: translate(0,-25%);
  transform: translate(0,-25%);
  -webkit-transition: -webkit-transform .3s ease-out;
  -moz-transition: -moz-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
}.modal.fade .modal-dialog {
   -webkit-transform: translate(0,-25%);
   -ms-transform: translate(0,-25%);
   transform: translate(0,-25%);
   -webkit-transition: -webkit-transform .3s ease-out;
   -moz-transition: -moz-transform .3s ease-out;
   -o-transition: -o-transform .3s ease-out;
   transition: transform .3s ease-out;
 }

@media (min-width: 768px){
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
}

.modal-body {
  position: relative;
  padding: 20px;
}

.fade.in {
  opacity: 1;
}

.modal-backdrop.in {
  opacity: .5;
  filter: alpha(opacity=50);
}

//.modal-backdrop.fade {
//  opacity: 0;
//  filter: alpha(opacity=0);
//}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

#signup-modal {
  margin-top: 10%;


}

#signup-modal iframe{
  height: 768px;
}
