/*	=SMALL SCREEN STYLES
----------------------------------------------------------------------*/

@media only screen and (max-width: $small-screen) {

	body {
		font-size: .9em;
	}
	
	h1 {
		font-size: to_em(40);
	}
	
	[role="contentinfo"] {
		font-size: .7em;
	}

	.a-hackathon, .why-sponsor {
	  width: auto;
	}
	.finish div h2 span {
	  font-size: 1.6em;
	}

	blockquote {
	  font-size: 1em;
	}
}
