/* =BUTTONS
-------------------------------- */

.btn,
button,
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
	display: inline-block;
	text-align: center;

	border: 2px solid $text-color;
	color: $text-color;
	font-weight: bold;
	padding: .5em 1em;
	@include border-radius(4px);

	&:hover {
		text-decoration: none;
		background-color: $text-color;
		color: #fff;
	}

	&.large {
		font-size: 1.2em;
	}

	&.block {
		width: 100%;
	}

	[class^="icon-"] {
		position: relative;
		top: 2px;
		margin-right: .3em;
	}
}

.btn-black {
	@extend .btn;
	color: #fff;
	border-color: #222;
	background-color: #222;

	&:hover {
		background-color: #000;
	}

	@include respond($medium-screen) {
		background-color: transparent;
		color: $text-color;
		border-color: $text-color;

		&:hover {
			background-color: $text-color;
			border-color: $text-color;
			color: #fff;
		}
	}
}

.btn-white {
	@extend .btn;
	border-color: #fff;
	color: #000;
	background-color: #fff;

	&:hover {
		background-color: rgba(#fff, .9);
		border-color: rgba(#fff, .9);
		color: #000;
	}

	@include respond($medium-screen) {
		background-color: transparent;
		color: $text-color;
		border-color: $text-color;

		&:hover {
			background-color: $text-color;
			border-color: $text-color;
			color: #fff;
		}
	}
}


.btn-facebook {
	@extend .btn;

	$color: rgb(57, 87, 154);
	@include background($color linear-gradient(lighten($color, 10%), $color));
	color: #fff;
	border: 0;
	font-weight: 500;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	border: 1px solid darken($color, 1%);
	@include box-shadow(rgba(#000, .5) 0 3px 3px, inset rgba(#fff, .2) 0 1px 0);
	@include transition(box-shadow .3s ease-in, transform .3s ease-in);

	[class^="icon-"] {
		border-right: 1px solid rgba(#fff, .3);
		padding-right: 10px;
	}

	&:hover {
		@include transform(translate(0, -5px));
		@include box-shadow(rgba(#000, .5) 0 6px 10px, inset rgba(#fff, .2) 0 1px 0);
	}

	&:active {
		background-image: none;
		background-color: darken($color, 5%);
		color: #eee;
	}
}
