/* =BUTTONS 
-------------------------------- */

.btn,
button,
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
	display: inline-block;
	text-align: center;
	
	border: 2px solid $text-color;
	color: $text-color;
	font-weight: bold;
	padding: .5em 1em;
	@include border-radius(4px);

	&:hover {
		text-decoration: none;
		background-color: $text-color;
		color: #fff;
	}

	&.large {
		font-size: 1.2em;
	}

	&.block {
		width: 100%;
	}

	[class^="icon-"] {
		position: relative;
		top: 2px;
		margin-right: .3em;
	}
}

.btn-white {
	@extend .btn;
	border-color: #fff;
	color: #000;
	background-color: #fff;

	&:hover {
		background-color: rgba(#fff, .9);
		border-color: rgba(#fff, .9);
		color: #000;
	}

	@include respond($medium-screen) {
		background-color: transparent;
		color: $text-color;
		border-color: $text-color;

		&:hover {
			background-color: $text-color;
			border-color: $text-color;
			color: #fff;
		}
	}
}
