/*	=ELEMENT SETUP
----------------------------------------------------------------------*/

img,
object,
embed,
iframe {
	max-width: 100%;
	height: auto;
	
	&.noscale {
		max-width: none;
	}
}

a {
	color: $link-color;
	text-decoration: none;
	font-weight: 600;

	&:hover {
		text-decoration: underline;
	}
}


p {
	margin: 0 0 $lineheight;
}

dl {
	margin: $lineheight 0;
	@include clearfix;
}

dd, dt {
	float: left;
}

dd {
	margin: 0;
	text-align: left;
}

dt {
	clear: left;
	text-align: right;
	margin-right: $lineheight;
	min-width: 8em;
	font-weight: bold;
}

@include respond($small-screen) {
	dt, dd {
		float: none;
		min-width: 0;
		text-align: center;
		margin: 0 0 .5em;
	}
}
