/* =ICONS
-------------------------- */

[class^="icon-"], [class*=" icon-"] {
	font-family: 'gbgstartuphack';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-arrow-down:before {
	content: "\e602";
}
.icon-paperplane:before {
	content: "\e603";
}
